# Project exclude paths
/.gradle/
/Readability Score/task/build/
/Readability Score/task/out/
/Readability Score/task/out/production/classes/
/Topics/Package/Binary search/out/
/Topics/Package/Binary search/out/production/classes/